<%# coding: utf-8 %>

<%
val = {'title' => 0, 'category' => 0, 'tag' => 0, 'count' => 0, 'created_at' => 0, 'updated_at' => 0,}

# 'title', 'category', 'tag', 'count', ' created_at', 'updated_at'
ckname = @cookie['name']
if @cookie['value'] == 'asc'
    ckvalue = 0
elsif @cookie['value'] == 'desc'
    ckvalue = 1
end

val[ckname] = ckvalue

%>

<article class="archive">
	<h2>アーカイブ</h2>

	<%# タイトル行の出力 %>
	<div id="title-line" class="clearfix">
        <form action="sort_select.rb" method="post">
		    <button class="title_title" type="submit" name="title" value="<%= (val['title'] + 1) % 2 %>">Title</button>
		    <button class="title_cathegory" type="submit" name="category" value="<%= (val['category'] + 1) % 2 %>">Category</button>
		    <button class="title_tag" type="submit" name="tag" value="<%= (val['tag'] + 1) % 2 %>">Tag</button>
		    <button class="title_count" type="submit" name="count" value="<%= (val['count'] + 1) % 2 %>">C</button>
		    <button class="title_create" type="submit" name="created_at" value="<%= (val['created_at'] + 1) % 2 %>">Create</button>
		    <button class="title_update" type="submit" name="updated_at" value="<%= (val['updated_at'] + 1) % 2 %>">Update</button>
        </form>
	</div>
	
    <%# 本文の出力 %>
    <% i = 0 %>
	<% @results.each do |row| %>
        <% id = row['id'] %>
        <% i = i + 1 %>
        <% if (i % 2 == 0)
            evenodd = 'list-line-even'
        else
            evenodd = 'list-line-odd'
        end %>
		<dl class="<%= evenodd %> clearfix">
			<dt class="arc-title">
				<a href="./show.rb?id=<%= id %>"><%= row['title'] %></a>
   			</dt>
			<dd class="des1">
				<p class="arc-category">
				<%= row['category'] %></p>
				<p class="arc-tag">
				<%= row['tag'] %></p>
			</dd>
			<dd class="des2">
				<p class="arc-count">
				    <%= row['count'] %></p>
            </dd>
            <dd class="des3">
				<p class="arc-create">
				<%= row['created_at'].strftime("%Y") %>.
				<%= row['created_at'].strftime("%m") %>.
				<%= row['created_at'].strftime("%d") %></p>
				<p class="arc-update">
				<%= row['updated_at'].strftime("%Y") %>.
				<%= row['updated_at'].strftime("%m") %>.
				<%= row['updated_at'].strftime("%d") %></p>
			</dd>
		</dl>
	<% end %>
</article>
